* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iceberg: #79addcff;
  --gold-crayola: #dcbf85ff;
  --copper-penny: #b2675eff;
  --dark-electric-blue: #3e5c76ff;
  --light-blue: #c1eeffff;
  --original-white: antiquewhite;
  --original-blue: lightcyan;
}

body {
  background-color: lightsteelblue;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  /* height: 100%; */
  margin: 0;
}

/* about me headshot image */
img {
  opacity: 0.75;
  border-radius: 25px;
}

.resize {
  width: 220px;
  height: auto;
}

/* link styling */
a:link {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: none;
  color: var(--blue);
}

a[href*="miss-mad."] {
  text-decoration: none;
  bottom: 100px;
}

button {
  margin: 10px auto 50px auto;
}

.side-nav {
  background-color: #001529;
}
/* App.jsx element styling */
/* Content { */
/* width: 75%; */
/* overflow: auto; */
/* margin-left: 25%; */
/* } */

/* Sidebar styling */
Sider {
  /* height: 100%; */
  background-color: #001529;
}

.siderButton {
  display: block;
}

h1.logo {
  text-align: center;
  color: #ffffff;
}

Menu {
  color: white;
}

/* section containers (4) */
.container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  padding: 24px;
  /* width: 80%; */
  flex-direction: column;
  /* height: 100vh; */
  background-color: lightsteelblue;
}

/* portfolio section */
.projects {
  display: flex;
  justify-content: center;
  /* height: 100%; */
  overflow: hidden;
}

.project0,
.project1,
.project2,
.project3,
.project4,
.project5 {
  color: white;
  font-size: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
}

/* resume section */
.proficiency-list {
  font-size: 10px;
}
