/* CSS HEX from coolers.co*/
:root {
  --iceberg: #79addcff;
  --gold-crayola: #dcbf85ff;
  --copper-penny: #b2675eff;
  --dark-electric-blue: #3e5c76ff;
  --light-blue: #c1eeffff;
  --original-white: antiquewhite;
  --original-blue: lightcyan;
}

.App {
  text-align: center;
  background-color: var(--copper-penny);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ______________________ */

/*CSS Variables*/
:root {
  --white: antiquewhite;
  --blue: lightcyan;
}

/*Element selectors*/
body {
  background-color: lightsteelblue;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h4 {
  font-family: "Merienda", cursive, sans-serif;
  text-align: center;
  font-size: 35px;
  margin: 25px 0 8px 0;
}

img {
  opacity: 0.75;
  border-radius: 25px;
}

section > h2 {
  padding: 0 0 8px 0;
}

section > h3 {
  padding: 0 0 8px 0;
}

section > p {
  padding-top: 16px;
}

section > h2,
section > h3,
section > p {
  text-align: center;
}

figure {
  display: flex;
  justify-content: center;
  margin: 8px 0 24px 0;
}

a:link {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: none;
  color: var(--blue);
  font-size: 20.37px;
}

a:visited {
  color: var(--white);
}

a:visited:hover {
  color: var(--blue);
}

a[href*="miss-mad."] {
  color: #1b7a8e;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  bottom: 100px;
}

button {
  margin: 10px auto 50px auto;
}

/*Class selectors*/
.name {
  padding: 8px;
}

.main-container {
  display: flex;
  justify-content: center;
  min-height: 100%;
  margin-bottom: -50px;
}

.content {
  width: 80%;
  border-radius: 5px;
}

.navigation {
  color: navy;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 5px auto 8px;
  background-color: rgba(63, 70, 122, 0.5);
  border-radius: 5px;
}

.navigation:hover {
  display: flex;
}

.nav-padding {
  padding: 16px;
}

.resize {
  width: 220px;
  height: auto;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row-1 {
  width: 100%;
  margin: 0 0 8px 0;
}

.card:hover {
  filter: brightness(0.75);
}

/* .project-title-1 {
  background: url(../images/mthsy_music_final_screenshot1.JPG);
  height: 400px;
}

.project-title-2 {
  background: url(../images/whos_app_screenshot4.JPG);
  height: 400px;
} */

.row-2 {
  width: 100%;
  margin: 8px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

/* .project-title-3 {
  background: url(../images/weather_dashboard_2.JPG);
}

.project-title-4 {
  background: url(../images/work-day-scheduler_screenshot.png);
} */

.project-title-2,
.project-title-3 {
  width: 300px;
  height: 300px;
}

.project-title-1,
.project-title-2,
.project-title-3 {
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.form-row {
  justify-content: space-evenly;
  height: 60px;
}

.message {
  flex-wrap: wrap;
  width: 100%;
}

.contact-link > p {
  padding: 12px;
  color: var(--white);
}

.push,
.footer {
  height: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*ID selectors*/
#brand-statement,
#why-me {
  height: 200px;
}

#why-me {
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 0;
}

#say-hello {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 16px 0;
}

/*Media queries for screen sizes smaller than 769px and 375px, respectively*/
@media screen and (max-width: 769px) {
  .row-2 {
    flex-direction: column;
  }

  .card {
    display: flex;
    justify-content: center;
  }

  .project-title-1 {
    width: 100%;
  }

  .project-title-2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 375px) {
  .project-title-1 {
    height: 300px;
    text-align: center;
  }

  .project-title-2,
  .project-title-3 {
    height: 200px;
  }
}

