/* ------------ UNIVERSAL STYLING ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------ CSS ROOT VARIABLES ------------ */
:root {
  --main-background: lightsteelblue;
  --ant-design-sider: #001529;
  --ant-design-white: #ffffff;
}

/* ------------ GENERAL ELEMENT SELECTORS ------------ */
html {
  height: 100%;
}

body {
  background-color: var(--main-background);
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  margin: 0;
}

/* about me headshot image */
img {
  opacity: 0.75;
  border-radius: 25px;
}

.resize {
  width: 220px;
  height: auto;
}

/* ------------ LINK STYLING ------------ */

a {
  text-decoration: none;
}
a:link,
a:hover {
  text-decoration: none;
  color: var(--ant-design-white);
}

button {
  margin: 10px auto 50px auto;
  /* border: 1px solid red; */
}

/* ------------ SIDEBAR STYLING ------------ */
.side-nav {
  min-height: 100vh;
  background-color: var(--ant-design-sider);
  /* border: 1px solid red; */
}

.sider-button {
  display: block;
  /* border: 1px solid red; */
}

h1.logo {
  text-align: center;
  color: var(--ant-design-white);
  /* border: 1px solid red; */
}

/* section containers (4) */
.container {
  background-color: var(--main-background);
  /* display: flex; */
  /* padding: 24px; */
  /* flex-direction: column; */
  /* width: 100%; */
  /* margin-right: 0; */
  /* margin-left: 0; */
  /* height: 100vh; */
  /* border: 1px solid red; */
}

/* this class only applies to the about me section */
.container-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background-color: var(--main-background);
  /* border: 1px solid red; */
}

.container-no-flex {
  width: 100%;
  height: 100%;
  padding: 24px;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--main-background);
  /* border: 1px solid red; */
}

/* ------------ PORTFOLIO STYLING ------------ */
.projects {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  margin: 16px;
  height: 230px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: var(--ant-design-white);
  transition: all ease-in-out 0.2s;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  /* border: 1px solid red; */
}

.projects:hover {
  /* filter: brightness(95%); */
  opacity: 80%;
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.75);
  /* box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); */
}

.project-name {
  background: linear-gradient(var(--ant-design-sider) 0 0) var(--p, 0) /
    var(--p, 0) no-repeat;
  transition: 0.4s;
  padding: 10px;
}

.project-name:hover {
  /* filter: brightness(390%); */
  font-size: 32px;
  transition: 0.75s;
  transition-timing-function: ease;
  --p: 100%;
  /* color: #fff; */
  border-radius: 6px;
  padding: 8px;
  /* border: 1px solid red; */
}

.project-info-wrapper {
  display: flex;
  font-size: 40px;
  padding: 10px;
  /* align-items: center; */
  /* border: 1px solid red; */
}

.project-info-wrapper:hover {
  transition: 0.75s;
  transition-timing-function: ease;
  border-radius: 6px;
  padding: 8px;
}

.link {
  display: flex;
  padding: 3px;
}

/* ------------ RESUME STYLING ------------ */
.resume-headers {
  text-align: center;
}

/* ------------ CONTACT STYLING ------------ */
.contact-form {
  border-radius: 8px;
  /* opacity: ; */
  /* animation: fadeInUp 2s 2s; */
  /* animation-fill-mode: forwards; */
}
