* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --iceberg: #79addcff;
  --gold-crayola: #dcbf85ff;
  --copper-penny: #b2675eff;
  --dark-electric-blue: #3e5c76ff;
  --light-blue: #c1eeffff;
  --original-white: antiquewhite;
  --original-blue: lightcyan;
}

body {
  background-color: lightsteelblue;
  font-family: Verdana, Tahoma, sans-serif, sans-serif;
  height: 100%;
  margin: 0;
}

/* about me headshot image */
img {
  opacity: 0.75;
  border-radius: 25px;
}

.resize {
  width: 220px;
  height: auto;
}

a:link {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: none;
  color: var(--blue);
}

a[href*="miss-mad."] {
  text-decoration: none;
  bottom: 100px;
}

button {
  margin: 10px auto 50px auto;
}

/* navbar/sidebar */
.nav-container {
  display: flex;
  z-index: 1;
  border: 1px solid red;
  background-color: rgba(242, 239, 236, 0.91);
  /* width: fit-content;
  height: 100vh; */
  /* min-height: 100px; */
  /* position: absolute; */
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* align-items: center; */
  /* padding: 0.7rem 2rem; */
  /* overflow: hidden; */
  /* margin: auto; */
  /* top: 0; */
}

.side-bar {
  display: flex;
}

.nav-items {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

Layout {
  border: 1px solid red;
}

Sider {
  border: 1px solid red;
  /* width: fit-content; */
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

Menu {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(50, 68, 188, 0.5);
}

.container-app {
  display: flex;
  align-items: center;
  border: 1px solid red;
  min-height: 100px;
}

/* section containers (4) */
.container {
  display: flex;
  align-items: center;
  border: 1px solid red;
  padding: 24px;
  /* width: 80%; */
  flex-direction: column;
}

/* portfolio section */
.projects {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.project0,
.project1,
.project2,
.project3,
.project4,
.project5 {
  color: white;
  text-align: center;
  align-items: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  /* flex: 1; */
  height: 275px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* resume section */
.proficiency-list {
  font-size: 10px;
}
